fastapi
uvicorn[standard]
sqlalchemy
alembic
psycopg2-binary
asyncpg
pydantic-settings
email-validator
python-multipart
bcrypt
pyjwt
onvif-zeep
httpx
casbin>=1.43.0
minio

casbin-sqlalchemy-adapter>=0.1.0
apscheduler
