fastapi==0.141.1
uvicorn[standard]==0.54.0
sqlalchemy==2.1.1
alembic==1.20.0
psycopg2-binary==2.9.13
asyncpg==0.31.0
greenlet==3.5.6
pydantic-settings==2.15.0
email-validator==2.3.0
python-multipart==0.0.32
bcrypt==5.0.0
pyjwt==2.15.0
onvif-zeep==0.2.12
httpx==0.28.1
casbin==1.43.0
minio==7.2.20
casbin-sqlalchemy-adapter==1.4.0
apscheduler==3.11.3
redis==8.1.0
